<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="File" fileName="logfile.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%C{1}] %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%C{1}] %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>